*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  /* cor de base */
  --cor-base-1: #0036b3;
  --cor-base-2: #085ecc;
  --cor-base-3: #0170fe;
  --cor-base-4: #26a0fe;
  --cor-base-5: #33befe;

  /* cor de destaque */
  --cor-destaque: #e6250c;
  --cor-destaque-hover: #cc1104;

  /* cor de Suporte */
  --cor-suporte-subtitulo: #171e26;
  --cor-suporte-titulo: #2e3743;
  --cor-suporte-corpo: #434c59;

  /* cor de Suporte bg*/
  --cor-suporte-bg-1: #f0f3f7;
  --cor-suporte-bg-2: #e4e8ed;
  --cor-suporte-bg-3: #c3cdd9;

  /* Fontes */
  --titulo: "Poppins", sans-serif;
  --corpo: "Source Sans Pro", sans-serif;
}

/* 
  Espaçamento: 5, 10, 15, 20, 30, 60, 120 
  fonte Poppins: 18, 22, 32, 36
  fonte Source: 16, 18, 22

  font-family: 'Poppins', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
*/

/* Gerais */
.content {
  max-width: 1144px;
  margin: 0 auto;
}
body {
  font-family: var(--corpo);
  color: var(--cor-suporte-corpo);
}
.titulo {
  font-size: 2.75em;
  font-weight: bold;
}
.subtitulo{
  font-size: 1.375em;
  font-weight: bold;
}
.descricao{
  max-width: 550px;
  margin-bottom: 30px;
  color: var(--cor-suporte-subtitulo);
  line-height: 1.4;
  font-size: 1.125em;
}
.btn {
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.05em;
  border-radius: 5px;

  background: var(--cor-destaque);

  display: inline-block;
  margin-top: 10px;
}
.btn + .btn {
  margin-left: 30px;
}
img {
  max-width: 100%;
}

/* Header */
.header {
  background: linear-gradient(
    90deg,
    var(--cor-base-1) 0%,
    var(--cor-base-5) 100%
  );
}
.header-content {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 20px 10px;
  align-items: center;
}
.menu li {
  display: inline-block;
}
.menu li + li {
  margin-left: 15px;
}
.menu li a {
  color: #fff;
  font-family: var(--titulo);
  font-size: 1.25em;
  letter-spacing: 0.06em;
  padding: 5px;
}

/* Intro */
.intro {
  background: linear-gradient(90deg,
    var(--cor-base-1) 0%,
    var(--cor-base-5) 100%
  );
border-bottom-right-radius: 130px;
}
.intro-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding: 10px;
  align-items: center;
  justify-items: center;
  color: #fff;

}
.intro-content > div {
  display: grid;
  gap: 15px;
}
.intro-content p {
  font-size: 1.125em;
  max-width: 400px;
}
.intro-content img {

}


/* info */
.info{
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  align-content: center;
  height: 700px;
  padding: 20px 10px;
  grid-auto-rows: max-content;
  gap: 1px;
}
.info h2, p{
  grid-column: span 3;
  max-width: 450px;
}
.info h2{
  max-width: 450px;
  margin-bottom: 15px;
  color: var(--cor-suporte-titulo);
}
.info-item{
text-align: center;
border: solid 1px var(--cor-suporte-subtitulo);
padding: 20px;
}
.info-item h3{
  /* margin: 15px 0; */
  
}